<h1>Group List</h1>

<!-- <button (click)="test()" id="submit" type="button" class="fadeIn fourth" value="channel">test</button> -->

<div>
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>Group ID</th>
                    <th>Group Admin</th>
                    <th>Group Assistants</th>
                    <th>Group users</th>
                    <th></th>
                    <th colspan="2">Action</th>
                    <th *ngIf="role == 'super'">
                        <button class="btn btn-primary" id="submit" routerLink="/create-group">Create</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-template [ngIf]="role == 'super'"  [ngIfElse]= "elseBlock">
                    <tr *ngFor="let group of groups" >
                        <td>{{group.id}}</td>
                        <td>
                            <div *ngFor="let groupadmin of group.groupadmin">
                                {{groupadmin}}
                            </div>
                        </td>
                        <td>
                            <div *ngFor="let groupassis of group.groupassis">
                                {{groupassis}}
                            </div>
                        </td>
                        <td>
                            <div *ngFor="let groupuser of group.groupusers">
                                {{groupuser}}
                            </div>
                        </td>
                        <td>
                            <button (click)="edit(group)" id="submit" type="button" class="btn btn-secondary" value="Edit">Edit</button>
                        </td>
                        <td>
                            <button (click)="channel(group)" id="submit" type="button" class="btn btn-success" value="Channels">Channels</button>
                        </td>
                        <td>
                            <form>
    
                                <button (click)="delete(group)" id="submit" type="button" class="btn btn-danger" value="Remove">Remove</button>
                            </form>    
                        </td>
                    </tr>
                </ng-template>
                <ng-template #elseBlock>
                    <tr *ngFor="let group of groups" >
                        <ng-template [ngIf]="group.groupusers.includes(username) || group.groupadmin.includes(username) || group.groupassis.includes(username)">
                            <td>{{group.id}}</td>
                            <td>
                                <div *ngFor="let groupadmin of group.groupadmin">
                                    {{groupadmin}}
                                </div>
                            </td>
                            <td>
                                <div *ngFor="let groupassis of group.groupassis">
                                    {{groupassis}}
                                </div>
                            </td>
                            <td>
                                <div *ngFor="let groupuser of group.groupusers">
                                    {{groupuser}}
                                </div>
                            </td>
                            <td>
                                <button (click)="channel(group)" id="submit" type="button" class="btn btn-success" value="Channels">Channels</button>
                            </td>
                            <td *ngIf="role == 'super'">
                                <button (click)="edit(group)" id="submit" type="button" class="btn btn-secondary" value="Edit">Edit</button>
                            </td>
                            <ng-template [ngIf]="group.groupadmin.includes(username) || group.groupassis.includes(username)"  [ngIfElse]= "adminblock">
                                <td>
                                <button (click)="edit(group)" id="submit" type="button" class="btn btn-secondary" value="Edit">Edit</button>

                                </td>
                            </ng-template>
                            <ng-template #adminblock>
                                <td>
                                </td>
                            </ng-template>
                            <ng-template [ngIf]="group.groupadmin.includes(username)"  [ngIfElse]= "adminblock">
                                <td>
                                    <form>
        
                                        <button (click)="delete(group)" id="submit" type="button" class="btn btn-danger" value="Remove">Remove</button>
                                    </form>  
                                </td>
                            </ng-template>
                            <ng-template #adminblock>
                                <td>
                                </td>
                            </ng-template>

                            <td *ngIf="role == 'super'">
                                <form>
        
                                    <button (click)="delete(group)" id="submit" type="button" class="btn btn-danger" value="Remove">Remove</button>
                                </form>    
                            </td>
                        </ng-template>

                    </tr>
                </ng-template>
            </tbody>
        </table>
      </div>

</div>