<h1>Group List</h1>
<button (click)="test()" id="submit" type="button" class="fadeIn fourth" value="channel">test</button>

<li *ngFor="let group of groups">
    <h2>Group ID:  {{group.groupid}}</h2>
    <button id="submit" type="button" class="fadeIn fourth" value="channel">Delete Group</button>
    <div>
        <span>group users: </span>
        <button id="submit" type="button" class="fadeIn fourth" value="channel">Add User</button>
        <div *ngFor="let groupuser of group.groupusers">
            {{groupuser}}
        </div>
    </div>
    <div>
        <p>Group Assistants: </p>
            <div *ngFor="let groupassis of group.groupassis">
                {{groupassis}}
            </div>
        <!-- <button id="submit" type="button" class="fadeIn fourth" value="channel">Go to channels</button> -->
    </div><br>
    <p>--------------------------------</p>
</li>
