<h1>Welcome to 3813 Chat System !!</h1>

<ul class="nav nav-pill" role="tablist">
    <div>
        <ng-template [ngIf]="valid">
            <div class="bd-example">

                <ng-template [ngIf]="role== 'super'" class="d-flex justify-content-around">
                    <button  (click)="chat()"id="submit" type="button" class="btn btn-primary" value="Chat">Chat</button>

                    <button id="submit" type="button" class="btn btn-primary" value="Log In" routerLink="/users">User Management</button>
                    <!-- <button id="submit" type="button" class="fadeIn fourth" value="Log In">User Management</button> -->
            
                    <button (click)="group()" id="submit" type="button" class="btn btn-primary" value="Log In">Group Management</button>
            
                </ng-template>
            </div><br>
            <ng-template [ngIf]="valid">
                <h3>
                    You are logged in as
                </h3>
                <p>Role: {{role}}</p>
                <p>Username {{username}}</p>
                <p>Userid {{userid}}</p>
                <p> valid {{valid}}</p>
                <p> </p>
            </ng-template>
        </ng-template>
    </div>
    
    <div>
        <br>
        <ng-template [ngIf]="!valid">
            <h3>Please Log In</h3>
            <button id="submit" type="button" class="btn btn-primary" value="Log In" routerLink="/login">login</button>
        </ng-template>
    </div>
    

    <br>
    <!-- <button (click)="test()" id="submit" type="button" class="fadeIn fourth" value="Log In">test</button> -->    
</ul>
