<h2>Create User</h2>
<form>
    <div>
        Username: <br>
        <input type="text" [(ngModel)]="username" name="username">   <br>
    </div>

    <div>
        Password:<br>
        <input type="password" [(ngModel)]="password" name="password"> <br>  
    </div>
    <br>
    <div class="d-flex justify-content-between">
        <div>
            <button class="btn btn-success" id="submit"(click)="create()">Create</button>
        </div>
        <div>
            <button class="btn btn-danger"><a class="nav-link pl-5" routerLink="/users">Cancel</a></button>
        </div>
    </div>
</form>
