<h2>New Group</h2>
<form>
    <div>
        <p>Group Users: </p>
        <input class="pr-2" type="text" name="groupusers" [(ngModel)]="groupusers"/>
    </div><br>
    <div>
        <p>Group Assistant: </p>
        <input type="text" name="groupassis" [(ngModel)] ="groupassis">
    </div><br> 
    <div>
        <p>Group Admin: </p>
        <input type="text" name="groupadmin" [(ngModel)] ="groupadmin">
    </div> <br>
    <div class="d-flex justify-content-between">
        <div>
            <button class="btn btn-success" id="submit" (click)="create()">Create</button>
        </div>
        <div>
            <button class="btn btn-danger"><a class="nav-link pl-5" routerLink="/group">Cancel</a></button>
        </div>
    </div>

</form>