<div class="container wrapper fadeInDown">
    <div id="formContent">
      <h1 id = 'errorMassage'>{{errorMassage}}</h1>
      <h1>Channel {{currentChannel.id}}</h1>
      <h4>Notice:</h4>
      {{roomnotice}}
      <form id="chatForm">
        <input type="text" [(ngModel)]="messagecontent" id="messagecontent" class="fadeIn second" name="messagecontent" placeholder="Say something..."><br><br>
        <button (click)="chat()" type="button" class="btn btn-success" value="Post">Post</button>
        <button (click)="back()" type="button" class="btn btn-secondary" value="back">back</button>

      </form>

    </div>
    <div>
        <ul>
            <!-- <li>{{chats[0].user}}: {{chats[0].message}}</li> -->
            <li *ngFor="let m of messages">{{m}}</li>
        </ul>
    </div>
  </div>
