<h1>Login Page</h1>
<!-- <div class="wrapper fadeInDown">
    <div id="formContent">
      <h1 id = 'errorMassage'>{{errorMassage}}</h1>
      <form>
        <input type="text" [(ngModel)]="username" id="username" class="fadeIn second" name="login" placeholder="login"><br><br>
        <input type="email" [(ngModel)]="email" id="email" class="fadeIn third" name="login" placeholder="email">
        <button (click)="login()" type="button" class="fadeIn fourth" value="Log In">Log</button>
      </form>
    </div>
</div> -->

  <!-- JSON login -->

<div id="formContent">
  <form>
    <label>Username: </label>
    <input type="username" name="username" [(ngModel)]=" username" class="fadeIn second" placeholder="username">
    <label>Email: </label>
    <input type="email" name="email" [(ngModel)]=" email" class="fadeIn third" placeholder="email">
  </form>
  <button (click)="submit()" class="fadeIn fourth"> submit</button>
</div>
