<h1>User Management</h1>

<div *ngIf="role== 'super'">
    
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Action</th>
                    <th>
                        <button (click)="create()" id="submit" type="button" class="btn btn-primary" value="Add">Create</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of userlistArray">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}
                    </td>
                    <td>{{user.email}}</td>
                    <td>{{user.role}}</td>
                    <td>
                        <form>

                        <button (click)="delete(user)" id="submit" type="button" class="btn btn-danger" value="Delete">X</button>
                    </form>

                    </td>
                </tr>
            </tbody>
        </table>
      </div>

</div>
