<h1>User Management</h1>

<div *ngIf="role== 'super'">
    <div *ngFor="let user of extendedUserArray">
        <form>
            <p>user name: {{user.username}}
                <button (click)="delete(user)" id="submit" type="button" class="fadeIn fourth" value="Delete">Delete User</button>
            </p>
            <p>email: {{user.email}}</p>
            <p>user ID: {{user.userid}}</p>
            <p>user role: {{user.role}}</p>
        </form>
        <p>------------------</p>
    </div>
    <button (click)="create()" id="submit" type="button" class="fadeIn fourth" value="Add">Create User</button>

</div>