<h1>Channel List</h1>
<div *ngFor="let group of groups">
    <div>
        <h2>Group ID:  {{group.groupid}}</h2>
        <ng-template [ngIf]="role == 'super'">
            <button id="submit" (click)="createChannel(group)" type="button" class="fadeIn fourth" value="channel">Create Channel</button>

        </ng-template>

    </div>

    <div>
        <span>group users: </span>
        <div *ngFor="let groupuser of group.groupusers">
            <div *ngFor="let user of extendedUserArray">
                <div *ngIf="user.userid == groupuser">
                    {{user.username}}
                </div>
            </div>
        </div>
    </div>
    <div>
        <p>Group Assistants: </p>
            <div *ngFor="let groupassis of group.groupassis">
                <div *ngFor="let user of extendedUserArray">
                    <div *ngIf="user.userid == groupassis">
                        {{user.username}}
                    </div>
                </div>
            </div>
        <!-- <button id="submit" type="button" class="fadeIn fourth" value="channel">Go to channels</button> -->
    </div><br>
    <div>
        <p>Group Admin: </p>
            <div *ngFor="let groupadmin of group.groupadmin">
                <div *ngFor="let user of extendedUserArray">
                    <div *ngIf="user.userid == groupadmin">
                        {{user.username}}
                    </div>
                </div>
            </div>
        <!-- <button id="submit" type="button" class="fadeIn fourth" value="channel">Go to channels</button> -->
    </div><br>
    <div>
        <h3>Channels of this group: </h3>
    </div>
    <div *ngFor="let channel of channels">

        <div *ngFor="let cid of channel.cgid">
            <div *ngIf="group.groupid == cid">
                <p>Channel ID: {{channel.channelid}}</p>


                <ng-template [ngIf]="role == 'super'">
                    <button id="submit" (click)="deleteChannel(group,channel)" type="button" class="fadeIn fourth" value="channel">Delete Channel</button>

                </ng-template>

                <button  (click)="chat()"id="submit" type="button" class="fadeIn fourth" value="Chat">Chat</button>

                <p>Channel Members:</p>
                <ng-template [ngIf]="role == 'super'">
                    <form id="1">
                        <input type="text" [(ngModel)]="addUser" name="addUser">
                        <button id="submit" (click)="updateChannel(channel)" name="addUser" type="button" class="fadeIn fourth" value="channel">Add User to Channel</button>
                    </form>

                </ng-template>



                <div *ngFor="let user of channel.channelusers">
                    <form id="2">
                        <label>{{user}}</label>
                        <ng-template [ngIf]="role == 'super'">
                            <button id="removeFromChannel" type="button" name="removeUser" (click)="removeFromChannel(user, channel)"  class="fadeIn fourth" value="channel">X</button>

                        </ng-template>

                    </form>
                </div>
            </div>
        </div>

    </div>
    <p>--------------------------------</p>

</div>
